@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Montserrat, sans-serif;
}

.Left-back{
  background: url("/Logo/Left-bg.svg") no-repeat ;
  background-size: cover;
  background-position: center;
  position: fixed;
  /* position: relative; */
 }

 .home{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.return{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.back{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.to{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.gospelio{
  background: linear-gradient(91deg, #0048FF 3.42%, #D6008D 82.66%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fieldset{
  border: 1.3px solid transparent;
  border-image:  linear-gradient(to right, rgba(214, 0, 141, 1), rgba(0, 72, 255, 1)) 30 round;
  border-image-slice: 1;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px;
}

.fieldset:focus-visible{
  border-color: #D6008D;
}

.label{
  background: #fff; 
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input:focus{
  border: 1.3px solid transparent;
  border-image:  linear-gradient(to right, rgba(214, 0, 141, 1), rgba(0, 72, 255, 1));
  border-image-slice: 1;
}

.main-button{
  border-radius: 20px;
background: linear-gradient(238deg, #09153F 1.24%, #002BC2 57.38%);
width: 380px;
height: 50px;
}

.gradient{
  border-radius: 15px;
border: 1.5px solid #FFF;
background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.02);
backdrop-filter: blur(10.499999046325684px);
}

.overview{
display: flex;
width: 134.5px;
height: 35px;
padding: 0px 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 12px;
background: #FFF;
box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.06);
}

.profile-settings{
  font-family: Arial, Helvetica, sans-serif;
}

.prof-account{
  color: var(--Gray-Gray-400, #A0AEC0);
font-family: Helvetica;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 15px */
}

.email-me{
  color: var(--Gray-Gray-400, #A0AEC0);
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.section-back{
  border-radius: 15px;
background: var(--black-amp-white-white, #FFF);
box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.prop{
  color: var(--Gray-Gray-500, #718096);
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 18px */
}

.value{
  color: var(--Gray-Gray-500, #718096);
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
}

.reply{
  color: #FF94EE;
text-align: center;
font-family: Helvetica;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 15px */
}

